@media (max-width: 768px) {
    .manicure-completa, .pedicure-completa, .esmaltação-simples {
        flex-direction: column;
        align-items: center;
    }

    .manicure-completa img, .pedicure-completa img, .esmaltação-simples img {
        width: 100%;
        margin-bottom: 20px;
    }

    .manicure-completa-info, .pedicure-completa-info, .esmaltação-simples-info {
        width: 100%;
        text-align: center;
    }

    .manicure-completa-info h2, .pedicure-completa-info h2, .esmaltação-simples-info h2 {
        font-size: 24px;
    }

    .manicure-completa-info p, .pedicure-completa-info p, .esmaltação-simples-info p {
        font-size: 16px;
    }

    .manicure-completa-info button, .pedicure-completa-info button, .esmaltação-simples-info button {
        width: 100%;
        padding: 15px;
        font-size: 18px;
    }

    header {
        min-height: 150px;
        background-size: 60%;
    }

    main {
        margin: 10px;
        padding: 10px;
    }
}

.mobile-header {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
}

.hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.close-nav {
    display: none;
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .mobile-header {
        display: flex;
    }

    .side-nav {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .side-nav.nav-active {
        transform: translateX(0);
    }

    .close-nav {
        display: block;
    }
}

@media (max-width: 480px) {
    .blog-post h3 {
        font-size: 1.2em;
    }

    .blog-post p {
        font-size: 1em;
    }
}